*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* Header */
.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
}
.funcoes{
    display: flex;
    gap: 60px;
}
/* Main */
.container{
    flex: 1;
    
}
.dados{
    margin: 50px;
}
/* Footer */
.rodape{
    text-align: center;
    padding: 30px;
}