*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body, html{
    background-color: rgb(137, 200, 237);
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top:30px; 
    text-decoration: none;
    font: 62.5%;
}
.container{
    width: 60%;
    height: 50%;
    background-color: rgba(43, 116, 158, 0.276);
    border: 2px solid rgba(43, 116, 158, 0.683) ;
    border-radius: 2%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
    
}
.dados{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 30px;
    
}
.botao{
    padding: 6px;
    color: white;
    background-color: rgba(43, 116, 158, 0.683);
    border: 2px solid  rgba(17, 48, 66, 0.742);
    border-radius: 10%;
}

.resultado{
    padding: 30px;
    color: white;
    font-size: 1.2em;
}
