*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body,html{
    background-color: rgba(197, 184, 184, 0.991);
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}
.container{
    width: 50%;
    height: 30%;
    display: flex;
    justify-content:space-evenly ;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(175, 16, 16);
    
}
.botao{
    color: rgb(104, 25, 25);
    background-color:rgba(240, 182, 182, 0.856) ;
    font-weight: bold;
    font-size: 1em;
    border: 0;
    border-radius: 10px;
    padding: 10px;
}
.lista{
    list-style: none;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 50%;
    background-color: rgba(240, 182, 182, 0.774);
}
